<div class="hero-unit">
  <h1>Tic Tac Toe</h1>
  <div>
    <span ng-show="winner">{{winner}} has won!!</span>
  </div>



<div ng-controller="GamesCtrl" >
    <button ng-click="clear()">New Game</button>  <p>{{message}}</p>

  <div>
    <div class="board" ng-click="addPlay(0)">{{plays[0]}}</div>
    <div class="board" ng-click="addPlay(1)">{{plays[1]}}</div>
    <div class="board" ng-click="addPlay(2)">{{plays[2]}}</div>
  </div><br><br><br><br>
  <div>
    <div class="board" ng-click="addPlay(3)">{{plays[3]}}</div>
    <div class="board" ng-click="addPlay(4)">{{plays[4]}}</div>
    <div class="board" ng-click="addPlay(5)">{{plays[5]}}</div>
  </div><br><br><br><br>
  <div>
    <div class="board" ng-click="addPlay(6)">{{plays[6]}}</div>
    <div class="board" ng-click="addPlay(7)">{{plays[7]}}</div>
    <div class="board" ng-click="addPlay(8)">{{plays[8]}}</div>
  </div><br><br><br><br>


<!-- {{plays}} {{count}}  {{plays.play1}} {{plays.play2}} -->

    <button ng-click="score()">Click for Winner!</button><br>
    {{winner}}

</div>
