<div class="hero-unit">
  <h1>Tic Tac Toe</h1>
  <div>
    <span ng-show="winner">{{winner}} has won!!</span>
  </div>



<div ng-controller="GamesCtrl" >
    <button ng-click="clear()">New Game</button>  <p>{{errorMessage}}</p>

  <div>
    <div class="board" ng-click="addPlay('play1')">{{plays.play1}}</div>
    <div class="board" ng-click="addPlay('play2')">{{plays.play2}}</div>
    <div class="board" ng-click="addPlay('play3')">{{plays.play3}}</div>
  </div><br><br><br><br>
  <div>
    <div class="board" ng-click="addPlay('play4')">{{plays.play4}}</div>
    <div class="board" ng-click="addPlay('play5')">{{plays.play5}}</div>
    <div class="board" ng-click="addPlay('play6')">{{plays.play6}}</div>
  </div><br><br><br><br>
  <div>
    <div class="board" ng-click="addPlay('play7')">{{plays.play7}}</div>
    <div class="board" ng-click="addPlay('play8')">{{plays.play8}}</div>
    <div class="board" ng-click="addPlay('play9')">{{plays.play9}}</div>
  </div><br><br><br><br>


<!-- {{plays}} {{count}}  {{plays.play1}} {{plays.play2}} -->

    <button ng-click="score()">Click for Winner!</button><br>
    {{winner}}

</div>
